<div class="container main-block">
    <div class="row mb-4">
        <div class="col-lg-12">
            <h2>{[ i18n('EXAM_ARCHIVE') ]}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input class="form-control" type="text" placeholder="{[ i18n('SESSION_ARCHIVE') ]}"
                   ng-change="gridActions.filter()" filter-type="text" ng-model="searchBar" filter-by="searchField">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div grid-data grid-options="archGridOptions" grid-actions="gridActions" class="mt-4 mb-2">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th sortable="testing_center" class="sortable" width="20%">
                                {[ i18n('COLUMN_TESTING_CENTER') ]}
                            </th>
                            <th sortable="course_name" class="sortable" width="20%">
                                {[ i18n('COLUMN_COURSE') ]}
                            </th>
                            <th sortable="exam_name" class="sortable" width="20%">
                                {[ i18n('COLUMN_SESSION_NAME') ]}
                            </th>
                            <th sortable="datetimeFull" class="sortable" width="15%">
                                {[ i18n('COLUMN_DATE_AND_TIME') ]}
                            </th>
                            <th width="25%">
                                {[ i18n('COLUMN_COMMENT') ]}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item>
                            <td><div class="grid-text-block"><a href="/session/{[ item.hash_key ]}">{[ item.testing_center ]}</a></div></td>
                            <td><div class="grid-text-block">{[ item.course_name ]}</div></td>
                            <td><div class="grid-text-block">{[ item.exam_name ]}</div></td>
                            <td ng-bind-html="item.datetime"></td>
                            <td><div class="grid-text-block">{[ item.comment ]}</div></td>
                        </tr>
                    </tbody>
                </table>
                <nav class="grid-navigation mt-4">
                    <grid-pagination
                            max-size="5"
                            boundary-links="false"
                            direction-links="true"
                            class="pagination justify-content-center"
                            previous-text="{[ i18n('PREVIOUS_BTN') ]}"
                            next-text="{[ i18n('NEXT_BTN') ]}"
                            total-items="paginationOptions.totalItems"
                            ng-model="paginationOptions.currentPage"
                            ng-change="reloadGrid()"
                            items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </nav>
            </div>
        </div>
    </div>
</div>
