# -*- coding: utf-8 -*-
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '<SECRET_KEY>'

# Path to bower
BOWER_PATH = '/usr/local/bin/bower'

# Credatials for authorization using SSO
SSO_NPOED_URL = "http://sso.example.com"
SSO_PWA_URL = "http://sso.example.com"
SOCIAL_AUTH_SSO_PWA_OAUTH2_KEY = '<OAUTH_KEY>'
SOCIAL_AUTH_SSO_PWA_OAUTH2_SECRET = '<OAUTH_SECRET>'

# URL to OpenEDX
EDX_URL = "http://edx.example.com"

# KEY for OpenEDX API
EDX_API_KEY = "<EDX_API_KEY>"

# Domain for auth cookie (without subdomain)
AUTH_SESSION_COOKIE_DOMAIN = ".example.com"

# Title in Grapelli admin panel
GRAPPELLI_ADMIN_TITLE = "<PROJECT_TITLE>"

COURSE_ID_SLASH_SEPARATED = False

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "HOST": "127.0.0.1",
        "NAME": "db_name",
        "USER": "db_user"
        "PASSWORD": "db_pass",
        "PORT": "3306",
        "TEST": {
            "NAME": "test_webassistant",
            "CHARSET": "utf8",
            "COLLATION": "utf8_general_ci",
        }
     }
}

NOTIFICATIONS = {
    "SERVER_PORT": 9090,
    "BROKER_TYPE": "amqp",
    "BROKER_URL": "amqp://user:pass@127.0.0.1:5672/",
#    # for redis broker
#    "BROKER_TYPE": "redis",
#    "BROKER_URL": "redis://127.0.0.1:16379,
    "DAEMON_ID": 1,  # available values: 1, 2 .. 10.
                     # Please use 1 by default.
                     # 2, 3 and etc should be user for the second, third and etc daemons
                     # IMPORTANT! In case of redis broker if you decide that some daemon is not needed anymore
                     # you should remove all data from redis manually:
                     #   >> HDEL edx.proctoring.event.daemons d_N
                     #   >> DEL edx.proctoring.event.N
                     # where N is DAEMON_ID

    "WEB_URL": "/notifications"
}
