# -*- coding: utf-8 -*-
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '<SECRET_KEY>'

# Path to bower
BOWER_PATH = '/usr/local/bin/bower'

# Credatials for authorization using SSO
SSO_TP_URL = "http://sso.example.com"
SSO_PWA_URL = "http://sso.example.com"
SOCIAL_AUTH_SSO_PWA_OAUTH2_KEY = '<OAUTH_KEY>'
SOCIAL_AUTH_SSO_PWA_OAUTH2_SECRET = '<OAUTH_SECRET>'

# URL to OpenEDX
EDX_URL = "http://edx.example.com"

# KEY for OpenEDX API
EDX_API_KEY = "<EDX_API_KEY>"

# Domain for auth cookie (without subdomain)
AUTH_SESSION_COOKIE_DOMAIN = ".example.com"

# Title in Grapelli admin panel
GRAPPELLI_ADMIN_TITLE = "<PROJECT_TITLE>"

COURSE_ID_SLASH_SEPARATED = False

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "HOST": "127.0.0.1",
        "NAME": "db_name",
        "USER": "db_user"
        "PASSWORD": "db_pass",
        "PORT": "3306",
        "TEST": {
            "NAME": "test_webassistant",
            "CHARSET": "utf8",
            "COLLATION": "utf8_general_ci",
        }
     }
}

NOTIFICATIONS = {
    "SERVER_PORT": 9090,
    "BROKER_URL": "amqp://user:pass@127.0.0.1:5672/",
    "DAEMON_ID": "1",
    "WEB_URL": "/notifications"
}
