{% load i18n %}
{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en" ng-app="proctor">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Proctoring' %}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width">
    <script src="{% static 'js/lib/script.min.js' %}"></script>
    {% stylesheet 'css' %}
    {% javascript 'js' %}

    <script>
        window.app = {
            rootPath: "{% static 'js/app/' %}",
            logoutUrl: "{% url 'logout' %}",
            loginUrl: "{{ login_url }}",
            notificationsUrl: "{{ notifications_url }}",
            profileUrl: "{{ profile_url }}",
            spaConfig: {{ spa_config|safe }},
            langs: {
                en: "{% static 'js/app/i18n/en.json' %}"
            },
            templates: {
                backdrop: "{% static 'js/app/ui/partials/modal/backdrop.html' %}",
                window: "{% static 'js/app/ui/partials/modal/window.html' %}",
                tooltipPopup: "{% static 'js/app/ui/partials/tooltip/tooltip-popup.html' %}",
                home: "{% static 'js/app/ui/home/view.html' %}",
                sessions: "{% static 'js/app/ui/sessions/view.html' %}",
                archive: "{% static 'js/app/ui/archive/view.html' %}",
                archiveSessions: "{% static 'js/app/ui/archive/sessions_view.html' %}",
                profile: "{% static 'js/app/ui/profile/view.html' %}",
                header: "{% static 'js/app/ui/partials/header.html' %}",
                addReview: "{% static 'js/app/ui/partials/add_review.html' %}",
                comments: "{% static 'js/app/ui/partials/comments.html' %}",
                sessionCreateError: "{% static 'js/app/ui/partials/session_create_error.html' %}",
            }
        }
    </script>
</head>
<body ng-cloak translate-cloak ng-controller="MainController">
{% if user_has_access %}
    <div>
        <header></header>
        <div class="container-fluid" ng-view></div>
    </div>
{% elif user.is_authenticated %}
    <div class="container text-center" ng-init="changeLanguage()">
        <h1 translate="ONLY_PROCTORS_INSTRUCTORS_ALLOWED"></h1>

        <h1>
            <button class="btn btn-secondary"
                    ng-click="logout()"
                    translate="LOGOUT">
            </button>
        </h1>
    </div>
{% elif not sso_enabled %}
    <div class="container text-center">
        {% include "registration/login.html" %}
    </div>
{% endif %}

</body>
</html>
