/* ----- Header ----- */

.navbar {
    background-color: #20323c;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar,
a.nav-link,
a.nav-link:hover,
a.navbar-brand,
.menu-icon,
.dropdown-menu a:hover{
    color: #ffffff;
}

.nav-user {
    text-align: right;
}

.menu-icon {
    vertical-align: middle;
    font-size: 42px;
}

.nav .show .nav-user,
.dropdown-menu a:hover {
    background-color: #36474f;
}

.dropdown-menu {
    margin-top: 0;
}

a.dropdown-item {
    color: #000000;
}

.dropdown-menu a:hover {
    background-color: #3d84c4;
}

.menu-username {
    margin-right: 8px;
}
