/* ----- Header ----- */

.navbar {
    background-color: #20323c;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar,
a.nav-link,
a.nav-link:hover,
a.navbar-brand,
.menu-icon,
.dropdown-menu a:hover{
    color: #ffffff;
}

.nav-user {
    text-align: right;
}

.menu-icon {
    vertical-align: middle;
    font-size: 42px;
}

.nav .show .nav-user,
.dropdown-menu a:hover {
    background-color: #36474f;
}

.dropdown-menu {
    margin-top: 0;
}

a.dropdown-item {
    color: #000000;
}

.dropdown-menu a:hover {
    background-color: #3d84c4;
}

.menu-username {
    margin-right: 8px;
}

/* ----- Data Grid ----- */

.table > tbody > tr:nth-child(even) {
    background: #f9f9f9;
}
.table > tbody > tr:nth-child(odd) {
    background: #ffffff;
}

.table > thead > tr,
.table > tbody > tr {
    font-size: 0.85rem;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-color: #3d84c4;
    vertical-align: middle;
    cursor: pointer;
}

.table > thead > tr > th.sortable {
    cursor: pointer;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.margin-bottom-basic {
    margin-bottom: 15px;
}

.pagination {
    margin: 0;
}

.items-per-page {
    margin-left: 15px;
}

.exam-actions {
    text-align: center;
    padding-bottom: 2px;
}

.sortable:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}

.grid-navigation > ul > li:first-child > a {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.grid-navigation > ul > li:last-child > a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.grid-navigation > ul > li > a:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.grid-navigation > ul > li > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    margin-left: -1px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.grid-navigation > ul > li > a:hover {
    background-color: #dee2e6;
}

.grid-navigation > ul > li.active > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #ffffff;
    margin-left: -1px;
    cursor: default !important;
    background-color: #337ab7;
    border-color: #337ab7;
    text-decoration: none;
}

.grid-navigation > ul > li.disabled > a,
.grid-navigation > ul > li.disabled > a:focus,
.grid-navigation > ul > li.disabled > a:hover,
.grid-navigation > ul > li.disabled > span,
.grid-navigation > ul > li.disabled > span:focus,
.grid-navigation > ul > li.disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

/* ----- Main Block ----- */

.exam-info {
    color: #3d84c4;
}

.main-block {
    margin-top: 50px;
}

.form-control:disabled, button:disabled {
    cursor: not-allowed;
}

.last-created-sessions-header {
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
}

.students-selected-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    border-top: 2px solid #3d84c4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.students-selected-block-content {
    font-size: 0.95rem;
    padding-top: 7px;
}

.status-blue {
    color: #3d84c4
}

.status-red {
    color: #ff0000
}

.status-orange {
    color: #ffc107
}

.status-green {
    color: #28a745
}

.deselect-link {
    padding-right: 0.75rem;
}

.session-comment-block {
    word-wrap: break-word;
    max-width: 300px;
}

.exam-comment-block {
    word-wrap: break-word;
    max-width: 200px;
}

.exam-comment-block-icon {
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

.create-session-label {
    font-weight: bold;
}

.text-red {
    color: red;
}

.alert-block-100p {
    width: 100%;
}

.btn-mass-action-apply {
    padding: .375rem .5rem;
    width: 100%;
    font-size: 14px;
}

/* ----- Model Window ----- */

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
