/* ----- Header ----- */

.navbar {
    background-color: #20323c;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar,
a.nav-link,
a.nav-link:hover,
a.navbar-brand,
.menu-icon,
.dropdown-menu a:hover{
    color: #ffffff;
}

.nav-user {
    text-align: right;
}

.menu-icon {
    vertical-align: middle;
    font-size: 42px;
}

.nav .show .nav-user,
.dropdown-menu a:hover {
    background-color: #36474f;
}

.dropdown-menu {
    margin-top: 0;
}

a.dropdown-item {
    color: #000000;
}

.dropdown-menu a:hover {
    background-color: #3d84c4;
}

.menu-username {
    margin-right: 8px;
}

/* ----- Data Grid ----- */

.table > tbody > tr:nth-child(even) {
    background: #f9f9f9;
}
.table > tbody > tr:nth-child(odd) {
    background: #ffffff;
}

.table > thead > tr,
.table > tbody > tr {
    font-size: 0.85rem;
}

.table > thead > tr > th {
    border-top: none;
    border-bottom-color: #3d84c4;
    vertical-align: middle;
    cursor: pointer;
}

.table > thead > tr > th.sortable {
    cursor: pointer;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

.margin-bottom-basic {
    margin-bottom: 15px;
}

.pagination {
    margin: 0;
}

.items-per-page {
    margin-left: 15px;
}

.sortable:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}

/* ----- Main Block ----- */

.main-block {
    margin-top: 50px;
}

.form-control:disabled, button:disabled {
    cursor: not-allowed;
}

.last-created-sessions-header {
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
}
