<script type="text/ng-template" id="reviewContent.html">
    <div class="modal-header">
        <h5 class="modal-title" ng-if="(exam === null) && (review_type === 'session')">{[ i18n('SESSION_COMMENT') ]}</h5>
        <h5 class="modal-title" ng-if="(exam === null) && (review_type === 'personal')">{[ i18n('PROCTOR_COMMENT') ]}</h5>
        <h5 class="modal-title" ng-if="exam !== null">{[ exam.studentName ]}&nbsp;&nbsp;({[ i18n('STATUS') ]}: <span ng-class="exam.btnDisabled ? 'status-blue' : statuses[exam.status].cssClass">{[ exam.btnDisabled ? i18n('STATUS_UPDATING') : statuses[exam.status].title ]}</span>)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div ng-if="exam !== null">
            <div>{[ i18n('E_MAIL') ]}: {[ exam.studentEmail ]}</div>
            <div>{[ i18n('START') ]}: {[ exam.started_at ]}</div>
            <div>{[ i18n('FINISH') ]}: {[ exam.finished_at ]}</div>
            <div>{[ i18n('UNIQUE_EXAM_CODE') ]}: {[ exam.examCode ]}</div>
        </div>
        <div ng-if="exam !== null">
            <a href="javascript:void(0)" ng-click="displaySessionsBox()"><i class="fa fa-exclamation-triangle sessions-warning-icon" ng-if="suspicious" aria-hidden="true"></i>{[ sessionsDisplayAction ]}</a><br />
            <div ng-show="displaySessions" class="user-sessions-block">
                <div ng-repeat="us in exam.user_sessions">
                   {[ i18n('SESSION_ATTEMPT') ]}&nbsp;{[ $index+1 ]}: {[ us.datetime ]}, {[ us.os ]}, {[ us.browser ]} (IP: {[ us.ip_address ]})
                </div>
            </div>
        </div>
        <div ng-if="(exam === null) && (review_type === 'session')">
            <div>{[ i18n('TESTING_CENTRE') ]}: {[ test_center ]}</div>
            <div>{[ i18n('START_DATE') ]}: {[ startDate ]}</div>
            <div>{[ i18n('COURSE') ]}: {[ course_name ]} ( {[ courseInfo[1] ]} / {[ courseInfo[2] ]} )</div>
            <div>{[ i18n('EXAM_SESSION') ]}: {[ exam_name ]}</div>
        </div>
        <div class="mt-2">
            <form name="review_form" ng-show="!readOnlyMode" novalidate>
                <div class="form-group" ng-if="review_type === 'personal'">
                    <label for="commentTextarea">{[ i18n('COMMENT_TYPE') ]}:</label>
                    <select class="form-control"
                            ng-options="o.type as o.status for o in available_statuses"
                            ng-model="comment.type">
                    </select>
                </div>
                <div class="form-group">
                    <label for="commentTextarea">{[ available_statuses_dict[comment.type] ]}:</label>
                    <textarea class="form-control"
                              id="commentTextarea"
                              rows="5"
                              ng-model="comment.message"
                              ng-maxlength="150"
                              maxlength="150"
                              placeholder="150 {[ i18n('CHARS') ]}"
                              required></textarea>
                </div>
            </form>
        </div>
        <div class="alert alert-danger mt-2" role="alert" ng-if="errorMsg != ''">
            {[ errorMsg ]}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="ok()" ng-if="!readOnlyMode" ng-disabled="requestInProgress || !review_form.$valid">{[ requestInProgress ? i18n('SAVING') : i18n('SAVE') ]}</button>
        <button type="button" class="btn btn-secondary"
                ng-click="cancel()" ng-disabled="requestInProgress" data-dismiss="modal">{[ readOnlyMode ? i18n('CLOSE') : cancelBtnText ]}</button>
    </div>
</script>
